<% layout('./layouts/boilerplate')%>

<div class="row mb-3">
  <div class="col-10 offset-1">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= job.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= job.location %></h6>
        <p class="card-text"><%= job.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Skills Required: <%= job.skills %></li>
        <li class="list-group-item">Eligibility: <%= job.eligible %></li>
        <li class="list-group-item">Salary: Rs <%= job.payment %></li>
        <li class="list-group-item">Experience: <%= job.experience %> Years</li>
      </ul>
      <div class="card-body">
        <a class="card-link btn btn-primary" href="/jobs/<%=job._id %>/apply%>"
          >Apply</a
        >
        <a href="/jobs" class="card-link btn btn-info">All Jobs</a>
        <a class="card-link btn btn-warning" href="/AllJobs/<%=job._id %>/edit"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/AllJobs/<%=job._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger me-md-2">DELETE</button>
        </form>
      </div>
    </div>
  </div>
</div>
