<% layout('./layouts/boilerplate')%>
<h2>
  List Of Employees Aplied For
  <span class="badge bg-secondary mb-3"><%=job.position %></span>
</h2>
<!-- <ul>
  <%job.jobsData.forEach((data) => {%>
  <a href="#"></a>
  <%})%>
</ul> -->
<div class="row">
  <%job.jobsData.forEach((data) => {%>
  <div class="col-sm-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-text">
          <i class="fa-solid fa-user"></i> <%= data.name %>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <i class="fa-solid fa-address-card"></i>
          <%= data.currentPosition %>
        </h6>
        <p class="card-title">
          <i class="fa-regular fa-envelope"></i> Email: <%= data.email %>
        </p>
        <p class="card-text">
          <i class="fa-solid fa-mobile-screen-button"></i> Mobile Number: <%=
          data.mobile %>
        </p>
      </div>
    </div>
  </div>

  <%})%>
</div>
