<% layout('./layouts/boilerplate')%>

<div class="col-md-6 offset-md-3">
  <div class="card mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <i class="fa-solid fa-file-signature"></i> <%= job.position %>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <i class="fa-solid fa-location-dot"> </i> <%= job.location %>
        </h6>
        <p class="card-text"><%= job.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="fa-solid fa-graduation-cap"></i>
          Skills Required: <% const ar1 = job.skills.split(',') %>
          <%ar1.forEach((skill) => { %>
          <a class="btn btn-info" href="#"><%= skill %></a>
          <% }) %>
        </li>
        <li class="list-group-item">
          <i class="fa-solid fa-book"></i>
          Eligibility: <% const ar2 = job.eligibility.split(',') %>
          <%ar2.forEach((eligible) => { %>
          <a class="btn btn-info" href="#"><%= eligible %></a>
          <% }) %>
        </li>
        <li class="list-group-item">
          <i class="fa-solid fa-indian-rupee-sign"></i> Salary: Rs <%=
          job.payment %>
        </li>
        <li class="list-group-item">
          <i class="fa-solid fa-id-card"></i> Experience: <%= job.experience %>
        </li>
      </ul>

      <div class="card-body">
        <a
          class="card-link btn btn-warning"
          href="/admin/AllJobs/<%=job._id %>/edit"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/admin/AllJobs/<%=job._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger me-md-2">DELETE</button>

          <a
            class="card-link btn btn-success"
            href="/admin/AllJobs/<%=job._id %>/jobInfo"
            >View Applied List</a
          >
        </form>
      </div>

      <div class="card-footer text-muted">
        <%=job.jobsData.length %> Employees has Applied for this Post
      </div>

      <!-- <%job.jobsData.forEach((data) => { %>
      <a href="#"><%= data.name %></a>
      <% }) %> -->
    </div>
  </div>
</div>

<div class="col-md-6 offset-md-3">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">
        <i class="fa-solid fa-calendar-check"></i>
        Opening Date: <%= moment(job.openingDate).format('Do MMMM, YYYY') %>
      </h5>
      <h5 class="card-subtitle mb-2">
        <i class="fa-solid fa-calendar-xmark"></i> Closing Date: <%=
        moment(job.closingDate).format('Do MMMM, YYYY') %>
      </h5>
      <p class="card-text">
        <i class="fa-solid fa-briefcase"></i> Business HR: <%= job.businessHR %>
      </p>
    </div>
  </div>
</div>
