<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
  </head>
  <body>
    <h1>ADMIN SHOW PAGE</h1>
    <h1><%= job.title %></h1>
    <h2><%= job.location %></h2>
    <% if(job.hasApplied) {%>
    <a href="/jobs/<%= job._id%>/edit">Edit Your Applied Form</a>
    <% } else {%>
    <p>
      <a class="btn" href="/jobs/<%=job._id %>/apply">Apply</a>
    </p>
    <% }%>
    <p>
      <a href="/AllJobs/<%=job._id %>/edit">Edit Job</a>
    </p>
    <ul></ul>
    <!-- DELETE BUTTON HERE -->
    <p>
        <form action="/AllJobs/<%=job._id%>?_method=DELETE" method="POST">
            <button>DELETE</button>
        </form>
    </p>

    <footer>
      <a href="/jobs">All Jobs</a>
    </footer>
  </body>
</html>
