<% layout('./layouts/boilerplate')%>
  <% for(let job of jobs){ %>
  <div class="card col-md-6 offset-md-3 mb-3">
    <div class="col-mb-3">
      <div class="card-body">
        <h4 class="card-title"><i class="fa-solid fa-file-signature"></i>   <%= job.position %></h4>
        <p class="card-text"><%= job.description %></p>
        <p class="card-text"><i class="fa-solid fa-graduation-cap"></i>  <%= job.skills %></p>
        <p class="card-text"> <i class="fa-solid fa-location-dot"> </i>
          <small class="text-muted">    <%= job.location%></small>
        </p>
        <p class="card-text">
          <i class="fa-solid fa-book"></i>
          <small class="text-muted"><%= job.eligibility%></small>
        </p>
        <p class="card-text"><i class="fa-solid fa-id-card"></i>
          <small class="text-muted"><%= job.experience%></small>
        </p>
        <a href="/jobs/<%=job._id%>" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
  <!-- <li><a href="/jobs/<%=job._id %>"> <%= job.title %></a></li> -->
  <!-- <a class="btn" href="/jobs/<%=job._id %>/apply">Apply</a> -->
  <% } %>
</div>
