<% layout('./layouts/boilerplate')%>

<div class="col-md-6 offset-md-3">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">
        <i class="fa-solid fa-file-signature"></i> <%= job.position %>
      </h5>
      <small class="card-subtitle mb-2 text-muted">
        <i class="fa-solid fa-location-dot"> </i> <%= job.location %>
      </small>
      <p class="card-text"><%= job.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <i class="fa-solid fa-graduation-cap"></i>
        Skills Required: <% const ar1 = job.skills.split(',') %>
        <%ar1.forEach((skill) => { %>
        <a class="btn btn-info" href="#"><%= skill %></a>
        <% }) %>
      </li>

      <li class="list-group-item">
        <i class="fa-solid fa-book"></i>
        Eligibility: <% const ar2 = job.eligibility.split(',') %>
        <%ar2.forEach((eligible) => { %>
        <a class="btn btn-info" href="#"><%= eligible %></a>
        <% }) %>
      </li>

      <li class="list-group-item">
        <i class="fa-solid fa-indian-rupee-sign"></i> Salary: Rs <%= job.payment
        %>
      </li>
      <li class="list-group-item">
        <i class="fa-solid fa-id-card"></i> Experience: <%= job.experience %>
      </li>
    </ul>
    <div class="card-body">
      <a class="card-link btn btn-primary" href="/jobs/<%=job._id %>/apply%>"
        >Apply</a
      >
      <a href="/jobs" class="card-link btn btn-info">All Jobs</a>
    </div>
    <div class="card-footer text-muted">
      <%=job.jobsData.length %> Employees has Applied for this Post
    </div>
  </div>
</div>

<div class="col-md-6 offset-md-3">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">
        Opening Date: <%= moment(job.openingDate).format('Do MMMM, YYYY') %>
      </h5>
      <h5 class="card-subtitle mb-2">
        Closing Date: <%= moment(job.closingDate).format('Do MMMM, YYYY') %>
      </h5>
      <p class="card-text">
        <i class="fa-solid fa-briefcase"></i> Business HR: <%= job.businessHR %>
      </p>
    </div>
  </div>
</div>
